.statsGraphSection {
	grid-area: Area-3;
	flex-direction: column;
	justify-content: center;
}

.value {
	background-color: var(--orange);
	line-height: 20%;
	box-shadow: 0 0 12px -1px rgba(var(--main-color), 0.7);
	color: var(--black);
	padding-left: 10px;
	padding-right: 10px;
	font-size: 5em;
	line-height: 120%;
}

.textStats {
	width: 80%;
	text-shadow: 0 0 10px var(--orange);
	margin-top: 10%;
	line-height: 130%;
	position: absolute;
	top: auto;
	bottom: 5%;
	left: 5%;
	right: auto;
}
