.svgBox {
	grid-area: Area-5;
	display: flex;
	border: 1px solid var(--orange);
	align-items: center;
	justify-content: center;
	font-size: 1vw;
	box-shadow: inset 0 0 6px #f1ac43, 0 0 6px #f1ac43;
	padding: 10px;
	width: 100%;
	height: 100%;
}
