.textScrollSection {
	grid-area: Area-4;
	border: 1px solid var(--orange);
	padding: 10px;
	padding-top: 30px;
	padding-left: 5%;
	box-shadow: inset 0 0 6px var(--orange), 0 0 6px var(--orange);
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: auto;
	text-transform: none;
	overflow-y: auto;
}

.textContainer {
	width: 90%;
	max-width: none;
	min-width: auto;
	text-shadow: 0 0 8px var(--orange);
	padding-left: 0;
	padding-right: 60px;
	font-size: 1vw;
	line-height: 130%;
}

.textScrollSection::-webkit-scrollbar {
	width: 45px;
}

.textScrollSection::-webkit-scrollbar-track {
	background: rgba(var(--main-color), 0.4);
}
.textScrollSection::-webkit-scrollbar-thumb {
	background: var(--orange);
}

.districtLine {
	margin-bottom: 1rem; /* Отступ после каждой строки */
	white-space: pre-line; /* Сохраняет переносы строк, если есть */
}
