:root {
	--orange: #f1ac43;
	--orange-light: rgba(241, 172, 67, 0.5);
	--black: #241d13;
	--main-color: 241, 172, 67;
	--font-size-base: 1vw;
	--font-size-md: 1.2vw;
	--font-size-lg: 1.3vw;
	--font-size-xl: 1.7vw;
}

:root.green-mode {
	filter: hue-rotate(85deg);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: auto;
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/Edge */
}

body::-webkit-scrollbar {
	display: none; /* Chrome, Safari */
}

body {
	font-family: 'VCR OSD Mono', monospace;
	background: var(--black);
	font-size: var(--font-size-base);
	color: var(--orange);
	text-shadow: 0 0 5px var(--orange);
	text-transform: uppercase;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

a {
	all: unset;
	cursor: pointer;
}

button,
input,
textarea,
select {
	font-family: inherit;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
	font-family: 'VCR OSD Mono';
	src: url('../src/assets/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
