:root {
	--orange: #f1ac43;
	--orange-light: rgba(241, 172, 67, 0.5);
	--black: #241d13;
	--main-color: 241, 172, 67;
	--danger-color: #dc3545;
	--font-size-base: 1vw;
	--font-size-md: 1.2vw;
	--font-size-lg: 1.3vw;
	--font-size-xl: 1.7vw;
}

:root.green-mode {
	filter: hue-rotate(85deg);
}

a {
	all: unset;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

/* ::-webkit-scrollbar {
	display: none;
}

html {
	scrollbar-width: none;
	-ms-overflow-style: none; 
} */

body {
	/* overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;  */
	margin: 0;
	font-family: 'VCR OSD Mono', monospace;
	-moz-osx-font-smoothing: grayscale;
	background: var(--black);
	font-size: var(--font-size-base);
	color: var(--orange);
	text-shadow: 0 0 5px var(--orange);
	text-transform: uppercase;
}

@font-face {
	font-family: 'VCR OSD Mono';
	src: url('../src/assets/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

button,
input,
textarea,
select {
	font-family: inherit;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
